{{#partial "content"}}
    <h3>{{category.name}}</h3>
    <p>These are the Sections under this {{category.name}}:</p>
    <ol>
        {{#each tasks}}
            <li>
                <p><a href="/categories/{{category.id}}/tasks/{{id}}">{{description}}</a></p>
            </li>
        {{/each}}
    </ol>
    <a class="btn btn-secondary btn-sm" href="/categories/{{category.id}}/edit">edit Department</a>
    <a class="btn btn-secondary btn-sm" href="/categories/{{category.id}}/delete">delete this Department</a>
{{/partial}}

{{> layout.hbs}}