{{#partial "content"}}
    <h3>{{department.name}}</h3>
    <p>These are the Sections under this {{department.name}}:</p>
    <ol>
        {{#each sections}}
            <li>
                <p><a href="/departments/{{department.id}}/sections/{{id}}">{{description}}</a></p>
            </li>
        {{/each}}
    </ol>
    <a class="btn btn-secondary btn-sm" href="/departments/{{department.id}}/edit">edit Department</a>
    <a class="btn btn-secondary btn-sm" href="/departments/{{department.id}}/delete">delete this Department</a>
{{/partial}}

{{> layout.hbs}}