{{#partial "content"}}

    <h1> {{department.name}}</h1>

    {{#if tasks}}
        {{#each sections }}
        <div class="panel">
        <div class="panel-heading">
        <h1> {{department.name}}</h1>
        <div class="panel-body">
            <p><a href="/departments/{{departmentId}}/sections/{{id}}">{{description}}</a></p>

         </div>
         </div>
        </div>
        {{/each}}
    {{else}}
     <p>No sections created!</p>
    {{/if}}

{{/partial}}

{{> layout.hbs}}