{{#partial "content"}}

    <p>Section: {{ task.description }}</p>
    <p>Department: {{ category.name }}</p>
    <h5>
        Task status:
        {{#if task.published }}
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>  Completed
        {{else}}
            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Open
        {{/if}}
    </h5>
    <p>
        <a href="/tasks/{{task.id}}/edit">Edit Section</a><br>
        <a href="/categories/{{task.categoryId}}/tasks/{{task.id}}/delete">delete this section</a>
    </p>

{{/partial}}

{{> layout.hbs}}